.container{
  width: 930px;
  height: 700px;
  background: black;
  border: solid 1px greenyellow;
  margin: 0 auto;
  display: flex;

}
.user{
  width: 310px;
  height: 700px;
  background: rgb(119, 117, 117);
  border-right: solid 1px green;
}
.post{
  width: 310px;
  height: 700px;
  background: rgb(231, 225, 225);
  border-right: solid 1px rgb(5, 21, 235);
}
.coments{
  width: 310px;
  height: 700px;
  background: rgb(255, 255, 255);
  border-right: solid 1px rgb(255, 0, 255);
}